
html, body, #viewDiv01 {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
    

#popdiv_write{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 140px;
	height: 93%;
	padding: 5px;
	background-size: 100%;
	background-color: #C0C0C0;
	opacity: 0.8;
	z-index: 9;
	
	border: 3px dashed #000000;
	border-radius:5px ;
}

.basemap{
	margin: 10px;
	z-index: 20;
}


