#导航条 {
	text-align: center;
	/* 居中对齐 */
	/* font-family: "times new roman"; */
	margin: 0 auto;
	/* 居中对齐 */
	
	/* width: 800px; */
	/* div的宽度 */
	max-width: 800px;
	/* 最大宽度 */
}

#导航条table {
	
	margin: 0 auto;
	/* 居中对齐 */
}

/* 导航条样式 */
nav {
	border: 2px solid #0055ff;
	/* 边框样式 */

	font-weight: bold;
}

#websitelink{
	font-size: 20px;
}

#friendlink{
	font-size: 15px;
}
